:root {
  --table-divider-color: #ffffff;
  --table-row-hover-background-color: green;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {

  scroll-behavior: smooth;
}

body {
  /* position: relative; */
  font-family: 'Poppins', sans-serif;
}

nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: #0e0e0e;
  border-bottom: 1px solid rgba(94, 94, 94, 0.5)
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 120rem;
  margin: 0 auto;
  align-items: center;
  padding: 1.5rem;
  color:rgb(219, 224, 237);
  font-size: 1.3rem;
  
}

.logo a {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color:rgb(219, 224, 237);
  
}

/* .logo a:hover {
} */

.navbar ul {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color:rgb(219, 224, 237);
  /* transition: all 0.4s ease-out; */
}

.navbar li a:hover,
a:focus {
  /* color: orange; */
  text-decoration: underline;
  /* background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(110, 150, 220, 0.5)
  );
  color: transparent;   */
}

.navbar span {
  display: flex;
  gap: 1.5rem;
}

.navbar span i {
  cursor: pointer;
}

.header-section {
  background: black;
  height: auto;
  width: 100%;
  

}

.coins-section {
  background: black;
  height: 50vh;
  width: 100%;
}

.container {
  margin: 0 auto!important;
  max-width: 130rem!important;
  padding: 0 2.5rem!important;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.header-content__text {
  color: rgb(219, 224, 237);
  font-size: 2.5rem;
  height: fit-content;
  line-height: 1.1;
  text-align: center;
  margin-top: 50px;
}

.header-content__text p {
  margin-top: 20px;
  font-size: 18px;
}

.header-content__text span {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    25deg,
    rgb(240, 240, 12),
    rgb(220, 4, 148)
  );
  color: transparent;
}

.header-content__wallets {
  margin-top: 4rem; 
}

.header-content__wallets ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}

.header-content__wallets li {
  gap: 10px;
}

.coins-content {
  /* margin-left: auto;
  margin-right: auto; */
  position: absolute;
  top: 15vh;
  right: 0;
  left: 0;
  /* left: 50%; */
  /* position: absolute;
  transform: translate(-5%, 70%); */
  width: 100%;
}

.portfolio-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 142px;
  height: 190px;
  border-radius: 1rem;
  border: solid 1px rgb(120, 120, 120, 0.5);
  transition: top 0.4s ease 0s;
  position: relative;
  top: 0;
}

.portfolio-inner:hover {
  border: 1px solid orange;
  box-shadow: 0px 12px 10px rgb(255, 165, 0, 0.2);
  top: -5px;
}

.portfolio-inner .logo {
  width: 88px;
  height: 88px;
}

.portfolio-inner .logo-smaller {
  width: 74px;
  height: 88px;
}

.portfolio-inner button {
  padding: 0.7rem;
  width: 80%;
  border-radius: 10px;
  border: none!important;
}

.portfolio-inner button:hover {
  background-color: bisque;
  
}

.walletCard {
  color:rgb(219, 224, 237);
  font-size: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.text-align-start {
  text-align: start;
}

.text-align-end {
  text-align: end;
}

.market-table-section {
  background: rgb(0, 0, 0);
  width: 100%;
  height: auto;
  
  padding: 1rem 0;
}

.market-content {
  color:rgb(219, 224, 237);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  /* padding: 25vh 0; */
}


.table-market-main {
  margin-top: 50px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.table-market-coins {
  margin-top: 40px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

/* ---------------------------------------- */
/* Market Table on the main page */
.table-market-main table {
  
  white-space: nowrap;
  border-collapse: collapse;
}

.table-market-main table thead {
  background: linear-gradient(
    180deg,
    rgba(234, 151, 50, 0.7),
    rgb(6, 2, 15, 0.3)
  );
}

.table-market-main table thead th {
  padding: 10px;
  font-size: 14px;
}

.table-market-main table td {
  padding: 10px;
  height: 30px;
  font-size: 17px;
  vertical-align: middle;
  border-bottom: 1px solid #4e4e4e;
}

.table-market-main table tbody tr:hover {
  background-color: rgb(46, 51, 62);
}
/* ---------------------------------------- */


/* ---------------------------------------- */
/* Market Table on the coins page */
.table-market-coins table {
  white-space: nowrap;
  border-collapse: collapse;
}

.table-market-coins table thead {
  background: linear-gradient(
    180deg,
    rgba(234, 151, 50, 0.7),
    rgb(6, 2, 15, 0.3)
  );
}

.table-market-coins table thead th {
  padding: 10px;
  font-size: 14px;
}

.table-market-coins table td {
  padding: 10px;
  height: 30px;
  font-size: 17px;
  vertical-align: middle;
  border-bottom: 1px solid #4e4e4e;
}

.table-market-coins table tbody tr:hover {
  background-color: rgb(46, 51, 62);
}
/* ---------------------------------------- */

/* width of crypto table columns */
/* table-number */
thead th:nth-child(1) {
  width: 3%;
}
/* name */
thead th:nth-child(2) {
  width: 38%;
}
/* price */
thead th:nth-child(3) {
  width: 14%;
}
/* 24h % */
thead th:nth-child(4) {
  width: 5%;
}
/* 24h volume */
thead th:nth-child(5) {
  width: 20%;
}
/* mkt cap */
thead th:nth-child(6) {
  width: 20%;
}

.coin-price-green-text {
  color: rgb(0, 208, 0);
}
.coin-price-red-text {
  color: rgb(204, 15, 15);
}

.list-pagination {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.list-pagination button {
  background-color: rgba(234, 151, 50, 0.7);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 1rem;
}

.market-content .activePagination {
  background: linear-gradient(270deg, rgb(236, 4, 93), rgb(239, 190, 42));
  color: rgb(0, 0, 0);
}

.button-see-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  
}

.button-see-more button {
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: black;
  border: 1px solid rgb(60, 60, 60);
  border-radius: 10px;
}

.button-see-more button:hover {
  cursor: pointer;
  background-color: #090909;
}

/* .position-relative {
  position: relative!important;
  
} */